version: '3.8'
services:
  db:
    image: postgres:14
    environment:
      POSTGRES_DB: qupo_dev
      POSTGRES_USER: qupo
      POSTGRES_PASSWORD: qupo
    volumes:
      - db-data:/var/lib/postgresql/data
  redis:
    image: redis:7
volumes:
  db-data:
