version: '3.8'
services:
  app:
    build: .
    volumes:
      - ./:/var/www
    depends_on:
      - db
      - redis
  db:
    image: postgres:14
    environment:
      POSTGRES_DB: qupo_dev
      POSTGRES_USER: qupo
      POSTGRES_PASSWORD: qupo
  redis:
    image: redis:7

