version: '3.8'
services:
  backend:
    build: ../backend
    volumes:
      - ../backend:/var/www
    environment:
      - APP_ENV=local
    ports:
      - "8000:8000"
    depends_on:
      - db
      - redis
  frontend:
    build: ../frontend
    volumes:
      - ../frontend:/app
    ports:
      - "5173:5173"
  db:
    image: postgres:14
    environment:
      POSTGRES_DB: qupo_dev
      POSTGRES_USER: qupo
      POSTGRES_PASSWORD: qupo
    volumes:
      - db-data:/var/lib/postgresql/data
  redis:
    image: redis:7
volumes:
  db-data:
